@use "../utilities/variables";
@use "../utilities/extend";
@import "../utilities/mixins";

.logo {
    @include size-params(120px, 120px);
    max-width: 100%;
    height: auto;
}

img {
    @include size-params(300px, 300px);
}

.banner {
    @include size-params(720px, 1920px);
    block-size: auto;
}