@use "../utilities/variables";
@use "../utilities/extend";
@import "../utilities/mixins";


h1 {
    color: variables.$main-color;
    @extend .text-font;
    font-size: 50px;

}

body {
    background-color: variables.$hover-color;
}

h2 {
    color: variables.$main-color;
    @extend .text-font;
    font-size: 35px;
    background-image: linear-gradient(pink, rgb(218, 127, 142));
}

p {
    color: variables.$main-color;
    @extend .text-font;
    @include line(1, 15px);
}

.questions {
    color: variables.$main-color;
    @extend .text-font;
    @include line(3, 20px);
    background-image: linear-gradient(rgb(155, 144, 146), rgb(255, 183, 195));
}

.parrafo {
    color: variables.$main-color;
    @extend .text-font;
    @include line(1, 15px);
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.iconos {
    @include size-params(350px, 350px);
}



.info {
    color: variables.$main-color;
    @extend .text-font;
    font-size: 45px;
}

.product {
    color: variables.$main-color;
    @extend .text-font;
    @include line(2, 22px);
    background-image: linear-gradient(rgb(214, 191, 195), rgb(241, 211, 216));
}