.etiqueta-base {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.flex-row-base {
    display: flex;
    flex-direction: row;
}

.text-center-font {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.font-size-font {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}