@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin desing($text, $font){
    text-align: $text;
    font-family: $font;
}
