@mixin flex ($direction, $justify, $align) {
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin size-params ($height, $width) {
  height: $height;
  width: $width;
}

@mixin border ($radius, $font){
  border-radius: $radius;
  font-weight: $font;
}

@mixin line ($line, $fontsize){
  line-height: $line;
  font-size: $fontsize;
}

