h1 {
  color: #062242;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #FEF1F7;
}

h2 {
  color: #062242;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(pink, rgb(218, 127, 142));
}

p {
  color: #062242;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 1;
}

.sobremi-section {
  padding: 2rem 1rem;
}
.sobremi-section .sobremi-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .sobremi-section .sobremi-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.sobremi-imagen {
  width: 100%;
  margin-bottom: 2rem;
}
.sobremi-imagen img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
@media (min-width: 992px) {
  .sobremi-imagen {
    width: 50%;
    margin-bottom: 0;
    padding-right: 2rem;
  }
}

.sobremi-texto {
  width: 100%;
  text-align: center;
}
@media (min: width 992px) {
  .sobremi-texto {
    width: 50%;
    text-align: left;
  }
}
.sobremi-texto h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.sobremi-texto h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.sobremi-texto p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.questions {
  color: #062242;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 3;
  background-image: linear-gradient(rgb(155, 144, 146), rgb(255, 183, 195));
}

.parrafo {
  color: #062242;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 1;
}

.logo {
  height: 120px;
  width: 120px;
  max-width: 100%;
  height: auto;
}

img {
  height: 300px;
  width: 300px;
}

.banner {
  height: 700px;
  width: 1920px;
  block-size: auto;
}

.iconos {
  height: 350px;
  width: 350px;
}

.copyrigth {
  color: #062242;
}

.biografia {
  height: 600px;
  width: 600px;
  block-size: auto;
}

.historia {
  text-align: center;
  font-size: 35px;
}

.texto-presentacion {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #062242;
}

.info {
  color: #062242;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 45px;
}

.product {
  color: #062242;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 3;
  background-image: linear-gradient(rgb(214, 191, 195), rgb(241, 211, 216));
}

nav {
  color: #062242;
}
nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  list-style: none;
  color: #FEF1F7;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13px;
  list-style: none;
}
nav .navbar ul li {
  list-style: none;
}
nav .custom-navbar {
  background-color: #062242;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-size: 1.1rem;
  color: #062242;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 8px;
}
.nav-link:hover {
  color: rgb(155, 47, 69);
}

.enlace-personalizado {
  color: #DEA4DB;
  font-weight: bold;
}

.card-productos {
  margin: 20px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  padding: 16px;
  border: 1px solid #062242;
  border-radius: 5px;
}
.card h5 {
  margin: 16px 0;
}

.cardimg {
  width: 100px;
}

.etiqueta-pago,
.etiqueta-envio {
  background-color: #DEA4BD;
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  display: inline-block;
}

.boton-personalizado {
  color: #6fb1cf;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.boton-personalizado:hover {
  color: mediumpurple;
}

.imginicio {
  width: 100%;
  height: auto;
  padding: 16px;
  object-fit: cover;
}

.btn-buscar {
  color: #DEA4DB;
  border-color: #DEA4DB;
}
.btn-buscar:hover {
  background-color: #DEA4DB;
  color: white;
}

@media (max-width: 768px) {
  .card-productos {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
  }
  .navbar-nav {
    flex-direction: column;
    gap: 10px;
  }
}
.p-footer {
  text-align: left;
  margin-bottom: 1.5rem;
}

footer {
  background-color: #FEF1F7;
  padding: 2rem 0 3rem 0;
}

/*# sourceMappingURL=styles.css.map */
